/*browser reser*/

*{margin:0;
padding:0;}

body {background-image:url(pics/bg10.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      color:steelblue;
      font-family: serif, sans-serif; }

#container {width:1112px;
            height:1770px;
            background-color: rgba(255,255,255,0.70);
            margin:0 auto;
        }
#header   {width:1112px;
           height:200px;}

#body {width:1112px;
      height:1200px;}

#footer {width:1112px;
         height:250px;} 

hr {width:1072px;
    height:1px;
    border:1px;
    background-color:silver;
    margin:0px 20px;
    }

a {text-decoration: none;
  color:steelblue;}

 /*HEADER*/

.logo {float:left;
      width:212px; 
      height:200px;}

.logo img {width:212px;
           height:150px;
         }

#lang-menu {float:left;
          width:900px; 
           height:40px;
          }
#lang-menu img {width:15px;
               height:15px;
               padding-top:11px;
             }

#lang-menu p {float:right;
             font-size: 15px;
             font-style: italic;
            padding-top:10px;
           padding-right:20px;
         }

#lang-menu a:selected {text-decoration: underline;}

#menu-bar {float:left;
         width:900px;
         height:160px;
       }

#menu {list-style-type: none;
              float:right;
              font-size: 25px;
            margin:70px 40px;}

#menu li {display:inline;
          padding:10px 20px;
          }

#menu li:not(:last-child){ border-right:1px solid black;}

#menu li a:hover {background-color: steelblue;
                  color:white;}

/*BODY*/

#banner {width:1112px;  
        height:500px; 
        margin-left:15px;
        margin-top:150px;
      }

 .content {background-image: url("pics/banner3.jpg");
          width:1082px;
          height:500px; 
          background-size:cover; 
        }

.column {float:left;
      width:10px;
      height:500px;  
      background-color:white;
           }

.cct1 {float:left;
   background-color: rgba(0,0,0,);
      height:500px; 
      width:263px;  
  }

.course_overview {width: 1112px; 
				  height: 75px; 
				  float: left;
				  padding-left: 230px;
}

.list_overview {width: 900px; 
				height: 1000px; 
				float: left;
}

.course_menu {width: 200px;
			  height: 750px;
			  float: left;
}

.course {width: 650px; 
         height: 250px;
		 float: left;
		 padding-left: 20px;
		 padding-top: 7px;
}

.course_text {width: 300px; 
         height: 200px;
		 padding: 25px;
		 float: left;
}

.image_course {width: 275px; 
			   height: 150px; 
			   float: left; 
			   padding: 10px
}

.button {width:263px;  
        height:70px;
        background-color:#CBD8E3;
        opacity: 0.80;
         margin-top:370px; 
        margin-right: 0px;
      }

.button p {font-size: 30px;
         font-style: italic;
         text-align: center;
       }

.button1 p{padding:0px 50px;}
.button2 p{padding:15px 50px;}
.button4 p {padding:0px 50px;}

.box {
     height:100px;
     width: 263px;
     background-color: rgba(70,130,180,0.10);
     margin-top: -130px;
     color:steelblue;
     font-size: 30px;
     text-align: center;
     font-style: italic;
      border:3px  steelblue;
     border-radius: 20px;

      }

.icon {width:40px;
      height:40px;
      align-self: center;
      margin-top:10px;
    }
#apply-box {width:1062px;
          height:200px;
          border:10px solid;
          border-color: rgba(70,130,180,0.30);
           margin: 30px 15px 0px 15px;
          }

#apply-text, #apply-button {height:200px;
             width:700px;
             float:left;
             font-size:40px;
         }

#apply-button {width:362px;}

#apply-text p {text-align:center;
               margin: 80px auto;}

.apply-button {padding:15px 40px;
               background-color: rgba(70,130,180,0.30);
               margin:75px auto;
              color:white;
              font-size:20px;
              border:1px steelblue;
               }

.apply-button:hover {border:3px solid steelblue;}

.additional {width:1082px;
             height:300px;
             margin:30px 15px 0px 15px;
             background-color:rgba(70,130,180,0.30); 
            font-size: 17px;}

.additional .title {font-size: 30px;
                    height:30px;
                    color:white;
                    }

.title p {text-align: left;
         margin-left: 66px;}

#student-img, #student-experience {float:left;
              width:382px;
              height:280px;
              }
#student-experience {width:700px;}

#student-img img {width:250px;
                 height:190px;
                 margin:35px 66px 35px 66px;}

#student-experience p {text-align: justify;
                       text-indent:30px;
                       margin: 50px 50px 80px 50px;
                     }

/*COURSE-GENERAL INFO*/

#box1 {width:270px;
       float:left;
       margin:20px 33px;
       border-right: 1px solid black;
       height:600px;
      
     }

#box2 {width:760px;
        height:1000px;
        float:left;
        margin:20px 0px;
        }

#box1-menu, .enrol-button, #enrol-button, #open-day {width: 260px;
            height:200px;
            margin:5px;
           float:left;
         }

#box1-menu ul {list-style-type: none;}

#box1-menu ul li {padding-bottom: 3px;}

#box1-menu ul li a, #open-day p a {text-decoration: none;
                  font-size: 25px;
                 }

#box1-menu ul li a:hover {background-color: steelblue;
                        color:white;
                      }

#box1-menu ul li:not(:last-child) {border-bottom: 1px solid black;} 

.enrol-button, #enrol-button {height:50px;}

#enrol-button {margin-right:10px;
              width:255px;
              background-color: steelblue;
              font-size: 20px;
              color:white;
              border:none;
            }

#open-day {background-color: rgba(70,130,180,0.50);
          border-radius: 20px;
          color:white;
          text-align: center;
          margin-top:20px;
          font-size: 30px;
        }
#open-day p a{margin: 70px 5px 0px 0px;
              float:right;
              color:white;
              border-radius: 5px;
             }

#open-day-date {width:260px;
                height:70px;
                margin-top: 20px;
              }

#course-img, #course-summary {width:380px;
            height:400px;
            float:left;
           margin:0px;
           }

#course-img {background-color: steelblue;
            margin-bottom: 5px;}

#course-info-title, #course-description-title {width:700px;
                    height:30px;
                    background-color: steelblue;
                    float:left;
                    color:white;
                  }

#course-description,#course-info {width:700px;
                    height:400px;
                    margin:10px 0px;
                    float:left;
                    border:5px solid steelblue;
                    text-align: justify;
                    text-indent: 25px;
                    font-size: 20px;
                  }

#course-info {height:300px;
              border:none;
              display: flex;
              flex-flow: row wrap;
            }

#course-info .item {width:200px;
                    height:100px;
                    margin:5px;
                    border:1px solid steelblue;}

#course-description p {margin: 10px;}

.item1,.item2, {height:50px;
        width:200px;
        float:left;
      }
.img {height:100px;
    width:30px;
    float:left;}

.icon_Alt {width:30px;
      height: 30px;
      float:left;
      margin-left: 5px;}

.item h4 {text-align:center;
          }

.item p {text-align:center;
        font-size: 13px;}

/*FOOTER*/

.footer {float:left;
        width:362px;
        height:250px;
        }

.footer-title   {   font-size: 20px;
                    font-weight: 1000;
                    margin:5px 0px 20px 25px;
                    }

#address, #quick-links li {font-size: 15px;
                    margin-left: 25px;
                   }

#quick-links {list-style-type: none;}

#quick-links a:hover {text-decoration: underline;
                      background-color: steelblue;
                      color:white;}

.social-media img {width:50px;
                    height:50px;}

#copyright {font-size: 10px;
          float:right;
          margin-top:100px;}
 





















           }
}
}






